[user]
	email = mikethadley@gmail.com
	name = Michael Hadley
[core]
	editor = vim
	autocrlf = input
	pager = less -+F
	excludesfile = ~/.gitignore
[alias]
	oldest-ancestor = !zsh -c 'diff --old-line-format= --new-line-format= <(git rev-list --first-parent \"${1:-master}\") <(git rev-list --first-parent \"${2:-HEAD}\") | head -1' -
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[push]
	default = current
[includeIf "gitdir:~/projects/personal/"]
	path = .gitconfig-personal
