URxvt.font: xft:Terminess Powerline:antialias=true:size=11

! Remove URxvt scrollbar
URxvt.scrollBar: false

! Extensions
URxvt.perl-ext: default,url-select

! Open Web Links
! Alt-y to select, j and k to move, enter to open
URxvt.colorUL: #66cccc
URxvt.keysym.M-y: perl:url-select:select_next
URxvt.url-select.launcher: /usr/bin/google-chrome-stable
URxvt.url-select.underline: true

URxvt.url-launcher: /usr/bin/chromium
URxvt.matcher.button: 1

Xcursor.theme: Openzone Black Slim

*.foreground: #CCCCCC
*.background: #141414

! Color theme inspired by Jason Ryan's. Slightly modifed.

!black
 *.color0:  #4D4D4D
 *.color8:  #575757
!red
 *.color1:  #BF4D80
 *.color9:  #CC739B
!green
 *.color2:  #53A6A6
 *.color10: #84c2c2
!yellow
 *.color3:  #A270A3
 *.color11: #C09FC1
!blue
 *.color4:  #477AB3
 *.color12: #7CA1CB
!magenta
 *.color5:  #7E62B3
 *.color13: #A896CC
!cyan
 *.color6:  #6096BF
 *.color14: #84AECE
!white
! *.color7:  #899CA1
 *.color7:  #C0C0C0
 *.color15: #C0C0C0
 
