html, body {
      background-color: #141414;
      font-family: "Monospace";
      font-weight: normal;
      margin-left: 7%;
      height: 100%;
    }
    a:link,a:visited,a:active {
      text-decoration: none;
      color: #C0C0C0;
      font-weight: normal;
    }
    a:hover {
      text-decoration: underline;
      color: #C0C0C0;
      font-weight: normal;
    }
    table {
      font-size: 20pt;
      border-spacing: 8px;
    }
    td {
      vertical-align: middle;
    }
    td:first-child {
      font-weight: bold;
      color: #53A6A6
    }
    td:nth-child(2) {
      font-weight: normal;
      color: #CCCCCC;
    }