"*":
  "exception-reporting":
    userId: "146781b3-7960-3a28-1f51-c44e3a715955"
  welcome:
    showOnStartup: false
  metrics:
    userId: "547268854fbd1bfb76a500bbc1bdcdcc2da2ba4d"
  editor:
    tabLength: 4
    scrollSensitivity: 100
    softWrapped: true
    showIndentGuide: true
    confirmCheckoutHeadRevision: false
    autoIndentOnPaste: false
    showInvisibles: true
    softTabs: false
    invisibles:
      tab: " "
      eol: " "
    softWrap: true
    fontFamily: "monaco"
    fontSize: 12
  core:
    disabledPackages: [
      "wrap-guide"
      "vim-mode"
    ]
    projectHome: "/home/mike/Liferay"
    themes: [
      "outlander-ui"
      "outlander-syntax"
    ]
  whitespace:
    ensureSingleTrailingNewline: false
  minimap:
    minimapScrollIndicator: false
    displayPluginsControls: false
  "merge-conflicts":
    gitPath: "/usr/bin/git"
  linter:
    {}
  "atom-color-highlight":
    markersAtEndOfLine: true
  "vim-mode":
    useClipboardAsDefaultRegister: true
  "linter-liferay":
    {}
